@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.travel , #home{
   color: #FF5400;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-bar {
    margin-right: 15px; 
}

a {
    text-decoration: none;
    color: var(--Dark-02);
    font-size: 12px;
}
.Banner {
    width: 1170px;
    height: 500px;
    background-image: url("./Images/Group\ 13.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 130px;
    border-radius: 15px;
    position: relative;
  }
  .Banner h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;
    z-index: 5;
    position: relative;
    text-align: center;
  }
  .Banner-text{
    width: 670px;
    margin: 20px auto;
    padding-top: 130px;
  }
  .Banner p {
    text-align: center;
    z-index: 5;
    position: relative;
    margin-top: 25px;
  }
.description{
width: 670px;
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
  }
  .Banner::after {
    content: " ";
    width: 1170px;
    height: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    z-index: 1;
    border-radius: 10px;
  }

  .Banner .search {
    width: 70%;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    z-index: 5;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .search input,
  select,
  button {
    width: 160px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .search button {
    color: #fff;
    background-color: #ff5400;
  }


  .popular-tour {
    display: flex;
    justify-content: space-between;
  }

  .read-more {
    width: 50%;
  }
  .read-more button {
    width: 170px;
    height: 50px;
    background-color: #ff5400;
    color: white;
    font-weight: 400;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin-top: 35px;
  }
  .read-more h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
  }
  .our li {
    margin-left: 30px;
  }
  .our {
    width: 700px;
    margin-top: 30px;
  }
  .explore-more {
    color: #5a5a5d;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .popular-tour .popular-img img {
    height: 100%;
    width: 100%;
  }
  #img1{
    grid-column: 1 / 6;
    grid-row: 1/1;
}
#img2{
    grid-area: 7 / 13;
    grid-row: 1/1;
}
#img3{
    grid-area: b3;
}
#img4{
    grid-area: b4;
}
#img5{
    grid-area: b5;
}
#img6{
    grid-area: b6;
}
#img7{
    grid-area: b7;
} 
.choose-us {
  width: 640px;
  text-align: center;
  margin: 90px auto;
}
.mini1 {
  width: 570px;
  height: 280px;
  background-color: #fbb56333;
  padding: 40px;
  border-radius: 15px;
}
.mini2 {
  width: 570px;
  height: 280px;
  background-color: #29cef633;
  padding: 40px;
  border-radius: 15px;
}
.mini3 {
  width: 570px;
  height: 280px;
  background-color: #e9444433;
  padding: 40px;
  border-radius: 15px;
  margin: 40px auto;
}
.mini1 h4 {
  color: #131318;
  font-size: 22px;
  font-weight: 800;
  margin-top: 10px;
}
.mini1 p {
  margin-top: 15px;
}
.mini2 h4 {
  color: #131318;
  font-size: 22px;
  font-weight: 800;
  margin-top: 10px;
}
.mini2 p {
  margin-top: 15px;
}
.mini3 h4 {
  color: #131318;
  font-size: 22px;
  font-weight: 800;
  margin-top: 10px;
}
.mini3 p {
  margin-top: 15px;
}
.mini {
  display: flex;
  justify-content: space-evenly;
}
.about{
  color: #5a5a5d;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}